@import "/css/reset.css";
.page-wrapper {
  margin: 0 auto;
  width: 100%;
}
.flex {
  display: flex;
  align-items: center;
}
.nav-wrapper {
}

.nav {
}

.container,
.nav-contact {
  padding-left: 380px;
  padding-right: 380px;
}

.nav-contact {
  justify-content: space-between;
  background: black;
}

.nav-contact__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.nav-phone {
  position: relative;
}
.nav-phone::before {
  content: "";
  position: absolute;
  width: 0%;
  background: white;
  height: 1.2px;
  bottom: -6px;

  opacity: 0;
  transition: all 0.5s;
}
.nav-phone:hover::before {
  opacity: 1;
  width: 100%;
  cursor: pointer;
}
.nav-contact-data {
  column-gap: 30px;
}

.nav-contact-data-item {
  color: whitesmoke;
}

.nav-contact-data-item__title {
}

.nav-contact-data-item__desc {
}

.nav-link {
  background: #2f4f4f;
  padding: 25px 0px;
}

.nav-link-item {
  justify-content: space-between;
}

.nav-link-item-list {
  column-gap: 30px;
}

.nav-link-item-list-element {
  color: white;
}

.nav-link-item-switcher {
  column-gap: 30px;
}
.switcher-active {
  background: orangered;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.switcher-lang {
  color: #ffffff99;
  transition: all 0.6s;
}
.switcher-lang:hover {
  color: white;
  cursor: pointer;
}
.header-wrapper {
  background: url(/src/img/header.bg.jpg) no-repeat center/cover;
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background: white;
  padding: 30px;
  border-radius: 8px;
}
.header__title {
  font-size: 50px;
  font-weight: 400;
}
.header__subtitle {
  font-weight: 200;
  font-size: 30px;
}
.header__consultation {
  background: #d4af37;
  color: white;
  padding: 16px 8px;
  font-size: 30px;
  border-radius: 20px;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.507);
  z-index: 10
}
.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: relative;
}

.modal-close {
  position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    font-size: 30px;
    top: 0px;
    right: 20px;
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  color: #333333;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555555;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.services-wrapper {
}

.services {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-left: 380px;
  padding-right: 380px;
}

.services__title {
  font-size: 50px;
  text-align: center;
}

.services__desc {
  font-size: 22px;
  text-align: center;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.services-cards-item {
  width: 30%;
  border: 1px solid black;
}

.services-cards-item__title {
}

.services-cards-item__desc {
}

.services-cards-item__more {
}

.services-cards-item__more {
}

.services-cards-item {
}

.services-cards-item__title {
}

.services-cards-item__desc {
}

.services__order {
}

.aboutMe {
  padding: 100px 380px;
}

.aboutMe__title {
  text-align: center;
  margin-bottom: 40px;
}

.aboutMe-info {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  column-gap: 10%;
}

.aboutMe-info-left {
  flex-basis: 48%;
}

.aboutMe-info-left__desc {
}

.aboutMe-info-left__contact {
}

.aboutMe-info-left__number {
}

.aboutMe-info__profile {
  width: 48%;
}

.aboutMe__sertificate {
  text-align: center;
  margin-bottom: 40px;
}

.swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}

.swiper-slide__item {
  width: 250px;
  height: 250px;
  rotate: -90deg;
}

.swiper-pagination {
}

.swiper-button-prev {
}

.swiper-button-next {
}

.swiper-scrollbar {
}
.location {
  padding: 100px 380px;
}
.location-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.location-cards__item {
  width: 380px;
}
.location__title {
  text-align: center;
  margin-bottom: 20px;
}
.location__desc {
  text-align: center;
  margin-bottom: 20px;
}
.faq {
  padding: 100px 380px;
}
.faq-list-item-hidden{
  translate: 0% -50px;
  opacity: 0;
  height: 0px;
  transition: all .3s;
  font-size: inherit;
  position: relative;
  z-index: -1;
}
.faq-active{
  translate: 0% 0px;
  opacity: 1;
  height: 50px;
  position: static;
  z-index: 0;
  
}
.faq__title {
  text-align: center;
  margin-bottom: 40px;
}

.faq-list {
}

.faq-list-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #d4af37;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.faq-list__open {
  font-weight: 900;
  font-size: 30px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:all .3s ;
text-align: center;
}
.rotate{
  rotate: 45deg;
}
.footer {
  position: relative;
  z-index: 2;
}
.footer__geo {
  width: 100%;
  height: 400px;
}
.map {
  position: absolute;
  z-index: 3;
  left: 300px;
  top: 120px;
  background: white;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 14px;
}

.map-header {
  font-size: 36px;
  font-weight: 900;
}

.map-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.map-contacts img {
  width: 20px;
  height: 20px;
}
.map-contacts-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-phone {
}

.map-contacts-call__phone {
}

.bold-map {
}

.num {
}

.map-hidden-text {
}

.map-links {
}

.map-contacts-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-mail {
}

.map-contacts-mail__text {
}

.map-contacts-adress {
}

.map-contacts-adress__text {
}

.map-contacts-calendar__text {
}
.footer-police {
  background: rgba(0, 0, 0, 0.881);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-police-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.464);
}

.footer-police-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .container,
  .nav-contact,
  .services,
  .aboutMe,
  .location,
  .faq {
    padding-left: 180px;
    padding-right: 180px;
  }

  .services,
  .aboutMe {
    padding-top: 100px;
  }
  .aboutMe__title {
    font-size: 50px;
  }
  .services__desc .location__desc,
  .faq-list-item {
    font-size: 30px;
  }
  .services-cards-item__desc,
  .aboutMe-info-left__desc,
  .aboutMe-info-left__contact,
  .map-contacts-call,
  .map-contacts-adress__text,
  .map-contacts-calendar__text {
    font-size: 20px;
  }
  .aboutMe-info__profile {
    width: 365px;
    height: 292px;
  }
  .aboutMe-title,
  .aboutMe__sertificate,
  .location__title,
  .faq__title,
  .map-header {
    font-size: 50px;
  }
  .swiper-slide__item {
    width: 66%;
    height: 100%;
  }
  .location,
  .faq {
    padding-top: 0px;
  }
  .map {
    top: 80px;
  }
}
@media (max-width: 1200px) {
  .location-cards__item {
    width: 315px;
  }
}
@media (max-width:1024px) {
    .container,
  .nav-contact,
  .services,
  .aboutMe,
  .location,
  .faq {
    padding-left: 80px;
    padding-right: 80px;
  }

  .services,
  .aboutMe {
    padding-top: 70px;
  }
  .aboutMe__title {
    font-size: 35px;
  }
  .services__desc .location__desc,
  .faq-list-item {
    font-size: 20px;
  }
  .services-cards-item__desc,
  .aboutMe-info-left__desc,
  .aboutMe-info-left__contact,
  .map-contacts-call,
  .map-contacts-adress__text,
  .map-contacts-calendar__text {
    font-size: 18px;
  }
  .aboutMe-info__profile {
    width: 44%;
    height: 292px;
    object-fit: cover;
  }
  .aboutMe-title,
  .aboutMe__sertificate,
  .location__title,
  .faq__title,
  .map-header {
    font-size: 35px;
  }
  .location-cards__item{
    width: 290px;
  }
  .swiper-slide__item {
    width: 66%;
    height: 100%;
  }
  .location,
  .faq {
    padding-top: 0px;
  }
  .map {
    top: 80px;
  }
  .header-wrapper{
    padding-bottom: 100px;
  }
  
}
@media (max-width:768px) {
    .nav-burger{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        width: 40px;
    }
    .nav-burger-line{
        background: #d4af37;
        width: 100%;
        height: 2.5px;
    }
    .nav-contact-data-item{
        display: none;
    }
    .container,
  .nav-contact,
  .services,
  .aboutMe,
  .location,
  .faq {
    padding-left: 30px;
    padding-right: 30px;
  }

  .services,
  .aboutMe {
    padding-top: 50px;
  }
  .aboutMe__title {
    font-size: 32px;
  }
  .services__desc .location__desc,
  .faq-list-item {
    font-size: 20px;
  }
  .services-cards-item__desc,
  .aboutMe-info-left__desc,
  .aboutMe-info-left__contact,
  .map-contacts-call,
  .map-contacts-adress__text,
  .map-contacts-calendar__text {
    font-size: 16px;
  }
  .aboutMe-info{
    flex-direction: column;
    row-gap: 30px;
  }
  .aboutMe-info__profile {
    width: 80%;
    height: 320px;
    object-fit: cover;
  }

  .aboutMe-title,
  .aboutMe__sertificate,
  .location__title,
  .faq__title,
  .map-header {
    font-size: 32px;
  }
  .location-cards{
    flex-direction: column;
    align-items: center;
  }
  .location-cards__item{
    width: 70%;
  }
  .swiper-slide__item {
    width: 66%;
    height: 100%;
  }
  .location,
  .faq {
    padding-top: 0px;
  }
  .map {
    top: 80px;
  }
  .map-header{
    font-size: 24px;

  }
  .map-phone, .map-mail, .map-contacts-adress, .map-contacts-calendar__text{
    font-size: 14px;
  }
  .header-wrapper{
    padding-bottom: 50px;
  }
  .nav-link-item-list{
    display: none;
  }
  .nav-link-item{
    justify-content: flex-end;
  }
  .header__title{
    font-size: 32px;
  }
  .header__subtitle{
    font-size: 22px;
  }
  .header__consultation{
    font-size: 20px;
    padding: 9px 4px ;
  }
  .header{
    padding: 20px;
  }
  }


/* @media (max-width:868px) {
    .aboutMe-info{
        flex-direction: column-reverse;

    }
} */
